<h1>Edit a task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, placeholder: @task.title, class: "form-control" %>
  <%= f.label :details, "Details" %>
  <%= f.text_field :details, placeholder: @task.details, class: "form-control" %>

  <% if @task.completed == true %>
    <p> <i class="far fa-check-square"></i>Completed </p>
   <% else  %>
    <p> <i class="far fa-square"></i>Not completed</p>
  <% end %>

  <%= f.submit "Update task", class: "btn btn-primary" %>

<% end %>

<p><i class="fas fa-undo-alt"></i> <%= link_to "Back to list", tasks_path %></p>
